.THIS .omni-text-grey-background {
    background-color: #e5e5e5;
    padding: 0.5rem !important;
    font-weight: 600;
}

.THIS .omniscript-body[data-stepborder='right'][c-vHFPIACalculatorEnglish_vHFPIACalculatorEnglish] {
    border-right: 0px solid rgb(217, 219, 221);
}